body {
    background-color: rgb(243, 222, 152);
    max-width: 100%;
}

.title {
    font-style: "Roboto", sans serif;
    color: darkgoldenrod;
    font-size: 2em;
    text-align: center;
    background-color: brown;
}

.hi {
    font-size: 20px;
    max-width: 50%;
    /* text-align: center; */
}

nav {
    text-align: center;
}

footer {
    text-align: center;
}

.credit {
    text-align: center;
}

.skills {
    margin: 40px 0px 40px 40px;
}


#voltar {
    text-align: center;
}

.intro-foto {
    display: flex;
    align-items: center;
}

.pic {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 22%;
    padding: 20px;
    background-color: darkgoldenrod;
}

.skills-business {
    display:flex;
    align-items: center;
}

.skills-dev {
    display:flex;
    align-items: center;
}

.skills-human {
    display:flex;
    align-items: center;
}

h3 {
    color: darkgoldenrod;

}

h2 {
    color: brown;
}

a {
    text-decoration: none;
    color: rgb(68, 54, 9);
}

.about {
    margin: 40px 0px 40px 40px;
}

.redes {
    margin: 40px 0px 40px 40px;
}

aside {
    text-align: center; 
    margin: 40px 0px 40px 40px;
}

footer {
    margin: 20px 0px 40px 40px;
    text-align: center;
    color:  rgb(68, 54, 9);
    font-size: 11px;
}
