body {
    background-color: #F9FBDA;
}

.title {
    font-style: "Roboto", sans serif;
    color: darkgoldenrod;
    font-size: 2.5em;
}

.intro {
    text-align: center;
}

h3 {
    color: darkgoldenrod

}

.pic {
    border-radius: 11%;
}

.rodape {
    text-align: center;
}